/*
 * @file style for component Chartproduct
 */

.chart-product {
    position: absolute;
    top: 223px;
    left: 565px;
    width: 400px;
    height: 226px;
    border: #aaa solid 1px;

    .f-dn{
        display: none;
    }
}