/*
 * @file style for component ProductsBar
 */

.product-perform-component {
    position: absolute;
    top: 150px;
    width: 975px;
    height: 460px;
    border: #aaa solid 2px;
    background-color: #fbefb299;

    .not-union{
        font-size: 30px;
        height: 454px;
        line-height: 454px;
        color: #211e1e;
        text-align: center;
    }

    .product-title{
        font-size: 15px;
        font-family: SimSun;
    }

    .product-content{
        .product-area{
            width: 100%;
            height: 100%;
        }

        .export-pdf{
            position: absolute;
            top: 0px;
            right: 223px;
            font-size: 15px;
            font-family: SimSun;
            padding: 0px 15px 0px 15px;
            background: #3385ff;
            color: #fff;
            border: solid 1px darkgray;
            cursor: pointer;
        }
        .export-word{
            position: absolute;
            top: 0px;
            right: 115px;
            font-size: 15px;
            font-family: SimSun;
            padding: 0px 15px 0px 15px;
            background: #3385ff;
            color: #fff;
            border: solid 1px darkgray;
            cursor: pointer;
        }
        .export-excel{
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 15px;
            font-family: SimSun;
            padding: 0px 15px 0px 15px;
            background: #3385ff;
            color: #fff;
            border: solid 1px darkgray;
            cursor: pointer;
        }
    }

}